<nav>
    <!-- 
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
        <li class="">
            <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            <ul>
                <li class="{% if document_title == 'Analytics Dashboard'%}active{% endif %}">
                    <a href="/" title="Dashboard"><span class="menu-item-parent">Analytics Dashboard</span></a>
                </li>
                <li class="{% if document_title == 'Social Wall' %}active{% endif %}">
                    <a href="/dashboard-social" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
                </li>
            </ul>	
        </li>
        <li class="">
            <a href="#" title="Google"><i class="fa fa-lg fa-fw fa-google"></i> <span class="menu-item-parent">Google</span></a>
            <ul>
                <li class="{% if document_title == 'BigQuery'%}active{% endif %}">
                    <a href="/BigQuery-demo1" title="BigQuery"><span class="menu-item-parent">BigQuery-demo1</span></a>
                </li>
                <li class="{% if document_title == 'Social Wall' %}active{% endif %}">
                    <a href="/dashboard-social" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
                </li>
            </ul>	
        </li>
        <li class="top-menu-invisible">
            <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">SmartAdmin Intel</span></a>
            <ul>
                <li class="{% if document_title == 'App Layouts' %}active{% endif %}">
                    <a href="/layouts" title="Dashboard"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">App Layouts</span></a>
                </li>
                <li class="{% if document_title == 'Prebuilt Skins' %}active{% endif %}">
                    <a href="/skins" title="Dashboard"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Prebuilt Skins</span></a>
                </li>
                <li class="{% if document_title == 'App Settings' %}active{% endif %}">
                    <a href="/applayout"><i class="fa fa-cube"></i> App Settings</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/inbox"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Outlook</span> <span class="badge pull-right inbox-badge margin-right-13">14</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
            <ul>
                <li class="{% if document_title == 'Flot Chart' %}active{% endif %}">
                    <a href="/flot">Flot Chart</a>
                </li>
                <li class="{% if document_title == 'Morris Charts' %}active{% endif %}">
                    <a href="/morris">Morris Charts</a>
                </li>
                <li class="{% if document_title == 'Sparklines' %}active{% endif %}">
                    <a href="/sparkline-charts">Sparklines</a>
                </li>
                <li class="{% if document_title == 'EasyPieCharts' %}active{% endif %}">
                    <a href="/easypie-charts">EasyPieCharts</a>
                </li>
                <li class="{% if document_title == 'Dygraphs' %}active{% endif %}">
                    <a href="/dygraphs">Dygraphs</a>
                </li>
                <li class="{% if document_title == 'Chart.js' %}active{% endif %}">
                    <a href="/chartjs">Chart.js</a>
                </li>
                <li class="{% if document_title == 'HighchartTable' %}active{% endif %}">
                    <a href="/hchartable">HighchartTable <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
            <ul>
                <li class="{% if document_title == 'Normal Tables' %}active{% endif %}">
                    <a href="/table">Normal Tables</a>
                </li>
                <li class="{% if document_title == 'Data Tables' %}active{% endif %}">
                    <a href="/datatables">Data Tables <span class="badge inbox-badge bg-color-greenLight hidden-mobile">responsive</span></a>
                </li>
                <li class="{% if document_title == 'Jquery Grid' %}active{% endif %}">
                    <a href="/jqgrid">Jquery Grid</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Forms</span></a>
            <ul>
                <li class="{% if document_title == 'Smart Form Elements' %}active{% endif %}">
                    <a href="/form-elements">Smart Form Elements</a>
                </li>
                <li class="{% if document_title == 'Smart Form Layouts' %}active{% endif %}">
                    <a href="/form-templates">Smart Form Layouts</a>
                </li>
                <li class="{% if document_title == 'Smart Form Validation' %}active{% endif %}">
                    <a href="/validation">Smart Form Validation</a>
                </li>
                <li class="{% if document_title == 'Bootstrap Form Elements' %}active{% endif %}"> 
                    <a href="/bootstrap-forms">Bootstrap Form Elements</a>
                </li>
                <li class="{% if document_title == 'Bootstrap Form Validation' %}active{% endif %}">
                    <a href="/bootstrap-validator">Bootstrap Form Validation</a>
                </li>
                <li class="{% if document_title == 'Form Plugins' %}active{% endif %}">
                    <a href="/plugins">Form Plugins</a>
                </li>
                <li class="{% if document_title == 'Wizards' %}active{% endif %}">
                    <a href="/wizard">Wizards</a>
                </li>
                <li class="{% if document_title == 'Bootstrap Editors' %}active{% endif %}">
                    <a href="/other-editors">Bootstrap Editors</a>
                </li>
                <li class="{% if document_title == 'Dropzone' %}active{% endif %}">
                    <a href="/dropzone">Dropzone</a>
                </li>
                <li class="{% if document_title == 'Image Cropping' %}active{% endif %}">
                    <a href="/image-editor">Image Cropping</a>
                </li>
                <li class="{% if document_title == 'CK Editor' %}active{% endif %}">
                    <a href="/ckeditor">CK Editor</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">UI Elements</span></a>
            <ul>
                <li class="{% if document_title == 'General Elements' %}active{% endif %}">
                    <a href="/general-elements">General Elements</a>
                </li>
                <li class="{% if document_title == 'Buttons' %}active{% endif %}">
                    <a href="/buttons">Buttons</a>
                </li>
                <li>
                    <a href="#">Icons</a>
                    <ul>
                        <li class="{% if document_title == 'Font Awesome' %}active{% endif %}">
                            <a href="/fa"><i class="fa fa-plane"></i> Font Awesome</a>
                        </li>
                        <li class="{% if document_title == 'Glyph Icons' %}active{% endif %}">
                            <a href="/glyph"><i class="glyphicon glyphicon-plane"></i> Glyph Icons</a>
                        </li>
                        <li class="{% if document_title == 'Flags' %}active{% endif %}">
                            <a href="/flags"><i class="fa fa-flag"></i> Flags</a>
                        </li>
                    </ul>
                </li>
                <li class="{% if document_title == 'Grid' %}active{% endif %}">
                    <a href="/grid">Grid</a>
                </li>
                <li class="{% if document_title == 'Tree View' %}active{% endif %}">
                    <a href="/treeview">Tree View</a>
                </li>
                <li class="{% if document_title == 'Nestable Lists' %}active{% endif %}">
                    <a href="/nestable-list">Nestable Lists</a>
                </li>
                <li class="{% if document_title == 'JQuery UI' %}active{% endif %}">
                    <a href="/jqui">JQuery UI</a>
                </li>
                <li class="{% if document_title == 'Typography' %}active{% endif %}">
                    <a href="/typography">Typography</a>
                </li>
                <li>
                    <a href="#">Six Level Menu</a>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-folder-open"></i> Item #2</a>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-folder-open"></i> Sub #2.1 </a>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-fw fa-file-text"></i> Item #2.1.1</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-fw fa-plus"></i> Expand</a>
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-folder-open"></i> Item #3</a>

                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-folder-open"></i> 3ed Level </a>
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-fw fa-file-text"></i> File</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>	
                        </li>
                        <li>
                            <a href="#" class="inactive"><i class="fa fa-fw fa-folder-open"></i> Item #4 (disabled)</a>
                        </li>	
                        
                    </ul>
                </li>
            </ul>
        </li>	
        <li class="{% if document_title == 'Widgets' %}active{% endif %}">
            <a href="/widgets"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Widgets</span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-cloud"><em>3</em></i> <span class="menu-item-parent">Cool Features!</span></a>
            <ul>
                <li class="{% if document_title == 'Calendar' %}active{% endif %}">
                    <a href="/calendar"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendar</span></a>
                </li>
                <li class="{% if document_title == 'GMap Skins' %}active{% endif %}">
                    <a href="/gmap-xml"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">GMap Skins</span><span class="badge bg-color-greenLight pull-right inbox-badge">9</span></a>
                </li>
            </ul>
        </li>	
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">App Views</span></a>
            <ul>
                <li class="{% if document_title == 'Projects' %}active{% endif %}">
                    <a href="/projects"><i class="fa fa-file-text-o"></i> Projects</a>
                </li>	
                <li class="{% if document_title == 'Blog' %}active{% endif %}">
                    <a href="/blog"><i class="fa fa-paragraph"></i> Blog</a>
                </li>
                <li class="{% if document_title == 'Gallery' %}active{% endif %}">
                    <a href="/gallery"><i class="fa fa-picture-o"></i> Gallery</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-comments"></i> Forum Layout</a>
                    <ul>
                        <li class="{% if document_title == 'General View' %}active{% endif %}"><a href="/forum">General View</a></li>
                        <li class="{% if document_title == 'Topic View' %}active{% endif %}"><a href="/forum-topic">Topic View</a></li>
                        <li class="{% if document_title == 'Post View' %}active{% endif %}"><a href="/forum-post">Post View</a></li>
                    </ul>
                </li>
                <li class="{% if document_title == 'Profile' %}active{% endif %}">
                    <a href="/profile"><i class="fa fa-group"></i> Profile</a>
                </li>
                <li class="{% if document_title == 'Timeline' %}active{% endif %}">
                    <a href="/timeline"><i class="fa fa-clock-o"></i> Timeline</a>
                </li>
                <li class="{% if document_title == 'Search Page' %}active{% endif %}">
                    <a href="/search"><i class="fa fa-search"></i>  Search Page</a>
                </li>
            </ul>		
        </li>
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">E-Commerce</span></a>
            <ul>
                <li class="{% if document_title == 'Orders' %}active{% endif %}"><a href="/orders">Orders</a></li>
                <li class="{% if document_title == 'Products View' %}active{% endif %}"><a href="/products-view">Products View</a></li>
                <li class="{% if document_title == 'Products Detail' %}active{% endif %}"><a href="/products-detail">Products Detail</a></li>
            </ul>
        </li>	
        <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Miscellaneous</span></a>
            <ul>
                <li>
                    <a href="/Landing_Page" target="_blank">Landing Page <i class="fa fa-external-link"></i></a>
                </li>
                <li class="{% if document_title == 'Pricing Tables' %}active{% endif %}">
                    <a href="/pricing-table">Pricing Tables</a>
                </li>
                <li class="{% if document_title == 'Invoice' %}active{% endif %}">
                    <a href="/invoice">Invoice</a>
                </li>
                <li>
                    <a href="/login" target="_top">Login</a>
                </li>
                <li>
                    <a href="/register" target="_top">Register</a>
                </li>
                <li>
                    <a href="/forgotpassword" target="_top">Forgot Password</a>
                </li>
                <li>
                    <a href="/lock" target="_top">Locked Screen</a>
                </li>
                <li class="{% if document_title == 'Error 404' %}active{% endif %}">
                    <a href="/error404">Error 404</a>
                </li>
                <li class="{% if document_title == 'Error 500' %}active{% endif %}">
                    <a href="/error500">Error 500</a>
                </li>
                <li class="{% if document_title == 'Blank' %}active{% endif %}">
                    <a href="/blank_">Blank Page</a>
                </li>
            </ul>
        </li>
        <li class="chat-users top-menu-invisible">
            <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent">Smart Chat API <sup>beta</sup></span></a>
            <ul>
                <li>
                    <!-- DISPLAY USERS -->
                    <div class="display-users">

                        <input class="form-control chat-user-filter" placeholder="Filter" type="text">
                        
                          <a href="#" class="usr" 
                              data-chat-id="cha1" 
                              data-chat-fname="Sadi" 
                              data-chat-lname="Orlaf" 
                              data-chat-status="busy" 
                              data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!" 
                              data-chat-alertshow="true" 
                              data-rel="popover-hover" 
                              data-placement="right" 
                              data-html="true" 
                              data-content="
                                <div class='usr-card'>
                                    <img src='{{ url_for('static', filename='img/avatars/5.png') }}' alt='Sadi Orlaf'>
                                    <div class='usr-card-content'>
                                        <h3>Sadi Orlaf</h3>
                                        <p>Marketing Executive</p>
                                    </div>
                                </div>
                            "> 
                              <i></i>Sadi Orlaf
                          </a>
                      
                        <a href="#" class="usr" 
                            data-chat-id="cha2" 
                              data-chat-fname="Jessica" 
                              data-chat-lname="Dolof" 
                              data-chat-status="online" 
                              data-chat-alertmsg="" 
                              data-chat-alertshow="false" 
                              data-rel="popover-hover" 
                              data-placement="right" 
                              data-html="true" 
                              data-content="
                                <div class='usr-card'>
                                    <img src='{{ url_for('static', filename='img/avatars/1.png') }}' alt='Jessica Dolof'>
                                    <div class='usr-card-content'>
                                        <h3>Jessica Dolof</h3>
                                        <p>Sales Administrator</p>
                                    </div>
                                </div>
                            "> 
                              <i></i>Jessica Dolof
                        </a>
                      
                        <a href="#" class="usr" 
                              data-chat-id="cha3" 
                              data-chat-fname="Zekarburg" 
                              data-chat-lname="Almandalie" 
                              data-chat-status="online" 
                              data-rel="popover-hover" 
                              data-placement="right" 
                              data-html="true" 
                              data-content="
                                <div class='usr-card'>
                                    <img src='{{ url_for('static', filename='img/avatars/3.png') }}' alt='Zekarburg Almandalie'>
                                    <div class='usr-card-content'>
                                        <h3>Zekarburg Almandalie</h3>
                                        <p>Sales Admin</p>
                                    </div>
                                </div>
                            "> 
                              <i></i>Zekarburg Almandalie
                        </a>
                     
                        <a href="#" class="usr" 
                              data-chat-id="cha4" 
                              data-chat-fname="Barley" 
                              data-chat-lname="Krazurkth" 
                              data-chat-status="away" 
                              data-rel="popover-hover" 
                              data-placement="right" 
                              data-html="true" 
                              data-content="
                                <div class='usr-card'>
                                    <img src='{{ url_for('static', filename='img/avatars/4.png') }}' alt='Barley Krazurkth'>
                                    <div class='usr-card-content'>
                                        <h3>Barley Krazurkth</h3>
                                        <p>Sales Director</p>
                                    </div>
                                </div>
                            "> 
                              <i></i>Barley Krazurkth
                        </a>
                      
                        <a href="#" class="usr offline" 
                              data-chat-id="cha5" 
                              data-chat-fname="Farhana" 
                              data-chat-lname="Amrin" 
                              data-chat-status="incognito" 
                              data-rel="popover-hover" 
                              data-placement="right" 
                              data-html="true" 
                              data-content="
                                <div class='usr-card'>
                                    <img src='{{ url_for('static', filename='img/avatars/female.png') }}' alt='Farhana Amrin'>
                                    <div class='usr-card-content'>
                                        <h3>Farhana Amrin</h3>
                                        <p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>
                                    </div>
                                </div>
                            "> 
                              <i></i>Farhana Amrin (offline)
                        </a>
                      
                        <a href="#" class="usr offline" 
                            data-chat-id="cha6" 
                              data-chat-fname="Lezley" 
                              data-chat-lname="Jacob" 
                              data-chat-status="incognito" 
                              data-rel="popover-hover" 
                              data-placement="right" 
                              data-html="true" 
                              data-content="
                                <div class='usr-card'>
                                    <img src='{{ url_for('static', filename='img/avatars/male.png') }}' alt='Lezley Jacob'>
                                    <div class='usr-card-content'>
                                        <h3>Lezley Jacob</h3>
                                        <p>Sales Director</p>
                                    </div>
                                </div>
                            "> 
                              <i></i>Lezley Jacob (offline)
                        </a>
                        
                        <a href="ajax/chat.html" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">About the API</a>

                    </div>
                    <!-- END DISPLAY USERS -->
                </li>
            </ul>	
        </li>
    </ul>
</nav>